<ion-header class="topNav">
    <ion-navbar >

        <ion-buttons left>
            <button ion-button icon-only (tap)="goToNotifications()">
                <ion-icon name="notifications"></ion-icon>
            </button>
        </ion-buttons>

        <div align="center">
            <ion-title><img class="mainlogo" src="assets/imgs/logo.png"> </ion-title>
        </div>

        <ion-buttons end>
            <button *ngIf="userProvider.user" ion-button icon-only  (tap)="goToProfile()">
                <img *ngIf="!userProvider.user.image" src="assets/imgs/profile.png" class="profileIcon">
                <img *ngIf="userProvider.user.image" [src]="userProvider.user.image" class="profileIcon">
            </button>
        </ion-buttons>


    </ion-navbar>

</ion-header>

<ion-fab *ngIf="selected == 0" class="addButton animated zoomIn" center bottom>
    <button ion-fab (tap)="goToPosts()">
        <ion-icon ios="ios-add"  md="md-add"></ion-icon>
    </button>
</ion-fab>

<super-tabs (tabSelect)="onTabSelect($event)"  [tabsPlacement]="tabsPlacement">
    <super-tab [root]="tab1Root" title="" icon="home"></super-tab>
    <super-tab [root]="tab2Root" title="" icon="search"></super-tab>
    <super-tab [root]="tab3Root" title="" icon="mail"></super-tab>
    <super-tab [root]="tab4Root" title="" icon="apps"></super-tab>
</super-tabs>


<!--<ion-tabs [selectedIndex]="selected" (swipeLeft)="selected = selected - 1" (swipeRight)="selected = selected + 1">-->
  <!--<ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>-->
  <!--<ion-tab [root]="tab2Root" tabTitle="Search" tabIcon="search"></ion-tab>-->
  <!--<ion-tab [root]="tab3Root" tabTitle="Post" tabIcon="camera"></ion-tab>-->
  <!--<ion-tab [root]="tab4Root" tabTitle="Top Events" tabIcon="apps"></ion-tab>-->
<!--</ion-tabs>-->
