page-memberprofile {


  .bio{
    margin-top:10px;
    font-size:14px;
    color:#9b9b9b;
    letter-spacing:0;
    line-height:17px;
    text-align:left;
  }
  .profileIcon{
    height: 20px !important;
  }

  .divide{

    background:#F2F2F2;
    width:100vw;
    height:80px;
  }

  .username{
    font-size:14px;
    color:#585858;
    letter-spacing:0;
    text-align:left;
    font-weight: 600;
    line-height: 14px;
    margin: 0 0 5px 0;
  }

  .name{
    font-size:14px;
    color:#585858;
    letter-spacing:0;
    text-align:left;
    line-height: 14px;
    margin: 0 0 5px 0;
  }

  .count{
    font-size:18px;
    color:#4a4a4a;
    letter-spacing:0;
    text-align:center;
  }

  .count span{
    font-size:10px;
    color:#9b9b9b;
    letter-spacing:0;
    text-align:center;
    line-height:17px;

  }
}
