<ion-header class="topNav">
    <ion-navbar >

        <div align="center">
            <ion-title><img class="mainlogo" src="assets/imgs/logo.png"> </ion-title>
        </div>
        <ion-buttons end>
            <button  ion-button icon-only (tap)="editProfile()">
                <img src="assets/imgs/edit.png" class="profileIcon">
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content padding>


    <ion-row *ngIf="profile" padding="">
        <div  align="center" col-4="">
            <div align="center">
                <ion-spinner *ngIf="photoLoading"></ion-spinner>
            </div>

            <img [src]="profile.image" style="border-radius: 10px;">
        </div>

        <div col-8 class="bio">
            <p class="username">{{profile.username}}</p>
            <p class="name">{{profile.name}}</p>
            {{profile.bio}}
        </div>

    </ion-row>

    <div *ngIf="profile" class="divide">
        <ion-row>
            <p class="count" col-3>
                {{profile.posts.length}}<br>
                <span>Posts</span>
            </p>

            <p class="count" col-3>
                {{profile.followers.length}}<br>
                <span>Followers</span>
            </p>
            <p class="count" col-3>
                {{profile.following.length}}<br>
                <span>Following</span>
            </p>

            <p class="count" col-3>
                {{profile.kins.length}}<br>
                <span>Kins</span>
            </p>

        </ion-row>
    </div>



    <div>
        <button *ngIf="!isFollowing && !loading" (tap)="follow()" ion-button block>Follow</button>
        <button *ngIf="isFollowing  && !loading" (tap)="unfollow()" ion-button block>Unfollow</button>
        <button *ngIf="loading" ion-button block>
            <ion-spinner ></ion-spinner>
        </button>
    </div>


    <ion-grid *ngIf="profile">
        <ion-row>
            <ion-col col-4 style="float: left;" *ngFor="let post of profile.posts">

                <ion-slides >
                    <ion-slide *ngFor="let image of post.images">
                        <img [src]="image.url"/>
                    </ion-slide>
                </ion-slides>

            </ion-col>

        </ion-row>

    </ion-grid>

    <ion-fab right bottom (tap)="pop()" >
        <button ion-fab mini color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    </ion-fab>


</ion-content>
