

<ion-content class="topSpace">
    <ion-fab right bottom (tap)="pop()" >
        <button ion-fab mini color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    </ion-fab>



    <div class="message-wrap">
        <div class="flex messageHeader" *ngIf="chatModel.chatWith">
            <ion-avatar  class="img-avatar" navPush="ViewphotoPage" [navParams]="chatModel.chatWith" item-left>
                <img src="{{chatModel.chatWith.image}}">
            </ion-avatar>

            <p>Chatting with {{chatModel.chatWith.username}}</p>
        </div>

      <div *ngFor="let msg of msgList"
           class="message"
           [class.left]="msg.sender === toUser.uid "
           [class.right]=" msg.sender === user.uid ">
        <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
        <div class="msg-detail">
          <div class="msg-content">
            <span class="triangle"></span>
            <p class="line-breaker ">{{msg.content}}</p>
          </div>
        </div>
      </div>
  
    </div>

  </ion-content>
  
  <ion-footer no-border  #footer>

      <ion-list>
          <ion-item>
              <ion-textarea
                      placeholder="Type your message"
                      [(ngModel)]="editorMsg">
                  <!--(keyup.enter)="sendMsg()"-->
                  (ionFocus)="onFocus()"
              </ion-textarea>


              <button class="sendButton" ion-button icon-only item-right clear (click)="sendMsg()">
                  <ion-icon name="send" ios="md-send" md="md-send"></ion-icon>
              </button>
          </ion-item>
      </ion-list>

  </ion-footer>
