input-div {
    .cinput-cont{
        padding: 10px 16px 10px 12px;
        background-color: #ffffff;
        border-color: #fff;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        .place-holder{
            color: #a4a4a4;
            font-size: 15px;
            line-height: 20px;
            pointer-events: none;
            position: absolute;
            top: 6px;
            transition: opacity 0.08s linear;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            z-index: 100;
            z-index: 2;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .cinput{
            font-size: 15px;
            font-weight: normal;
            /* max-height: 100px; */
            /* min-height: 20px; */
            outline: none;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            white-space: pre-wrap;
            word-wrap: break-word;
            z-index: 1;
        }
    }
}
