<ion-header class="topNav">
    <ion-navbar >

        <div align="center">
            <ion-title><img class="mainlogo" src="assets/imgs/logo.png"> </ion-title>
        </div>
        <ion-buttons end>
            <button  ion-button icon-only (tap)="editProfile()">
                <img src="assets/imgs/edit.png" class="profileIcon">
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <div class="success" *ngIf="message">{{message}}</div>
    <div class="error" *ngIf="error">{{error}}</div>

    <div *ngIf="userProvider.user">



        <div *ngIf="!isEditingUser && !isEditingPassword">

            <ion-row padding="">
                <div *ngIf="userProvider.user" align="center" col-4="">
                    <div align="center">
                        <ion-spinner *ngIf="photoLoading"></ion-spinner>
                    </div>

                    <img (tap)="photoAction()" [src]="userProvider.user.image" style="border-radius: 10px;">
                </div>

                <div col-8 class="bio">
                    <p class="username">{{userProvider.user.username}}</p>
                    <p class="name">{{userProvider.user.name}}</p>
                    {{userProvider.user.bio}}
                </div>

            </ion-row>

            <div class="divide">
                <ion-row>
                    <p class="count" col-3>
                        {{userProvider.user.posts.length}}<br>
                        <span>Posts</span>
                    </p>

                    <p class="count" col-3>
                        {{userProvider.user.followers.length}}<br>
                        <span>Followers</span>
                    </p>
                    <p class="count" col-3>
                        {{userProvider.user.following.length}}<br>
                        <span>Following</span>
                    </p>

                    <p class="count" col-3>
                        {{userProvider.user.kins.length}}<br>
                        <span>Kins</span>
                    </p>

                </ion-row>
            </div>

            <!--<ion-card *ngIf="userProvider.user" >-->
                <!--<ion-card-content>-->
                    <!--<ion-card-header style="background-color: black;color:white;" >-->
                        <!--Hi {{userProvider.user.name}}!-->
                    <!--</ion-card-header>-->

                    <!--<ion-list>-->

                        <!--<button ion-item>-->
                            <!--<ion-icon name="person" item-start></ion-icon>-->
                            <!--{{userProvider.user.username}}-->
                        <!--</button>-->

                        <!--<button ion-item>-->
                            <!--<ion-icon name="mail" item-start></ion-icon>-->
                            <!--{{userProvider.user.email}}-->
                        <!--</button>-->

                        <!--<button ion-item>-->
                            <!--<ion-icon name="call" item-start></ion-icon>-->
                            <!--{{userProvider.user.phone}}-->
                        <!--</button>-->


                    <!--</ion-list>-->
                <!--</ion-card-content>-->

            <!--</ion-card>-->

            <ion-grid>
                <ion-row>
                    <ion-col col-4 style="float: left;" *ngFor="let post of userProvider.user.posts.reverse()">

                        <!--<ion-slides >-->
                            <!--<ion-slide *ngFor="let image of post.images">-->
                                <img (press)="delete(post.pid)" [src]="post.images[0].url"/>
                            <!--</ion-slide>-->
                        <!--</ion-slides>-->

                    </ion-col>

                </ion-row>

            </ion-grid>


            <div *ngIf="!isEditingUser" >
                <span><button ion-button round block (tap)="editProfile()">   Edit  </button></span>
                <span><button ion-button round block (tap)="changePassword()">  Change Password </button></span>
                <span><button ion-button round block (tap)="logout()" >  Logout </button></span>
            </div>

        </div>




        <div *ngIf="isEditingUser" >
            <ion-item >
                <ion-label stacked>Username</ion-label>
                <ion-input [(ngModel)]="userProvider.user.username" [value]="userProvider.user.username" placeholder="Enter your username" type="text"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label stacked>Name</ion-label>
                <ion-input [(ngModel)]="userProvider.user.name" [value]="userProvider.user.name" placeholder="Enter your name" type="text"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label stacked>Email</ion-label>
                <ion-input disabled [(ngModel)]="userProvider.user.email" [value]="userProvider.user.email" placeholder="Enter your email" type="text"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label stacked>Phone</ion-label>
                <ion-input [(ngModel)]="userProvider.user.phone" [value]="userProvider.user.phone" placeholder="Enter your phone" type="text"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label stacked>Bio</ion-label>
                <ion-textarea [(ngModel)]="userProvider.user.bio" [value]="userProvider.user.bio" placeholder="Enter your bio" type="text"></ion-textarea>
            </ion-item>


            <ion-col col-12>

                <div align="center">
                    <ion-spinner *ngIf="loading"></ion-spinner>
                </div>
                <button ion-button block round (tap)="save()" [disabled]="loading" >
                    Save
                </button>
                <button ion-button block round color="danger" (tap)="cancel()" >Cancel</button>
            </ion-col>

        </div>

        <div *ngIf="isEditingPassword">
        <ion-item >
            <ion-label stacked>Current Password</ion-label>
            <ion-input [(ngModel)]="currentPassword" type="password"></ion-input>
        </ion-item>

        <ion-item >
            <ion-label stacked>New Password</ion-label>
            <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
        </ion-item>

        <ion-item >
            <ion-label stacked>Confirm New Password</ion-label>
            <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
        </ion-item>

        <ion-col col-12>
            <div align="center">
                <ion-spinner *ngIf="loading"></ion-spinner>
            </div>
            <button ion-button block round (tap)="savePassword()" [disabled]="loading">
                Change
            </button>
            <button ion-button block round color="danger" (tap)="cancel()" >Cancel</button>
        </ion-col>

    </div>


    </div>
</ion-content>
