page-chatlist {

    span.timee{
        float: right;
        font-size: 12px;
    }
    .msg-stat{
        text-align: center;
        float: right;
        font-size: 1.5vh;
        background: #15c515;
        padding: 2px;
        border-radius: 50%;
        height: 20px;
        color: white;
        line-height: 2.5vh;
        min-width: 20px;
    }
    .hidee{
        display: none !important;
    }
    .last-msg-text{
        width: 85%;
        float: left;
    }

}
