<!--
  Generated template for the ChatlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Chats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="topSpace">
  <div *ngIf="noChats() else chatlist" >
    <div class="center-box">
        <ion-icon name="alert"></ion-icon>
        <p class="some">
          No chats. Click the pencil to add chats.
        </p>
    </div>
  </div>

  <ng-template #chatlist>
      <ion-list *ngIf="chats.length > 0">
        <div *ngFor="let item of chats" >
            <ion-item navPush="ChatPage" [navParams]="item">
              <ion-avatar item-left>
                <img [src]="item.chatWith.image">
              </ion-avatar>
              <h2>{{item.chatWith.uid}} <span class="timee" >{{item.lastmsg.created_at}}</span></h2>
              <div>
                <p class="last-msg-text">{{item.lastmsg.content}}</p>
                <span class="msg-stat" [class.hidee]="item.unreadCount === 0">{{item.unreadCount}}</span>
              </div>
            </ion-item>
          </div>
      </ion-list>
  </ng-template>



</ion-content>
