<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only  (tap)="pop()">
                <ion-icon name="back"></ion-icon>
            </button>
        </ion-buttons>

        <div align="center">
            <ion-title>Event Images</ion-title>
        </div>

    </ion-navbar>
</ion-header>


<ion-content padding >

    <div class="topSpace">

        <div *ngIf="type == 'post'">

            <ion-card class="postCard animated slideInUp" *ngFor="let post of items">

                <ion-item>
                    <ion-avatar item-start (tap)="viewProfile(post.user)">
                        <img [src]="post.user.image">
                    </ion-avatar>
                    <h2>{{post.user.username}}</h2>
                    <p>{{post.created_at}}</p>
                </ion-item>
                <div *ngIf="post.images.length > 0" align="center">
                    <img align-self-center [src]="post.images[0].url">
                    <hr>
                </div>

                <!--<ion-slides >-->
                <!--<ion-slide *ngFor="let image of post.images">-->
                <!--<img [src]="image.url"/>-->
                <!--</ion-slide>-->
                <!--</ion-slides>-->
                <ion-card-content>
                    <ion-icon name="heart-outline"></ion-icon>
                    <span>5000 Likes</span>
                    <p>
                        {{post.content}}
                    </p>
                </ion-card-content>

                <!--<ion-row>-->
                <!--<ion-col>-->
                <!--<button ion-button icon-left clear small>-->
                <!--<ion-icon name="thumbs-up"></ion-icon>-->
                <!--<div>12 Likes</div>-->
                <!--</button>-->
                <!--</ion-col>-->
                <!--<ion-col>-->
                <!--<button ion-button icon-left clear small>-->
                <!--<ion-icon name="text"></ion-icon>-->
                <!--<div>4 Comments</div>-->
                <!--</button>-->
                <!--</ion-col>-->
                <!--<ion-col center text-center>-->
                <!--<ion-note>-->
                <!--11h ago-->
                <!--</ion-note>-->
                <!--</ion-col>-->
                <!--</ion-row>-->

            </ion-card>

        </div>


        <div *ngIf="type == 'event'" class="card">
            <h3>{{items.name}}</h3>
            <ion-grid>
                <ion-row>
                    <ion-col col-4 class="columnImage" style="float: left;" *ngFor="let image of items.images">
                        <ion-card>
                            <img style="height: 100px; width: auto" align-self-center [src]="image.url"/>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>


    </div>

    <ion-fab right bottom (tap)="pop()" >
        <button ion-fab mini color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    </ion-fab>



</ion-content>
