<ion-content>


    <div class="homeContent">

        <ion-refresher class="refresher" (ionRefresh)="refresh($event)">
            <ion-refresher-content
                    pullingText="Pull to refresh"
                    refreshingSpinner="circles"
                    refreshingText="Loading posts...">
            </ion-refresher-content>
        </ion-refresher>

        <div class="topSpace komkin">
            <ion-segment mode="md" [(ngModel)]="kommunity">
                <ion-segment-button value="kommunity" (tap)="getKommunityPosts()">
                    Kommunity
                </ion-segment-button>
                <ion-segment-button value="kin" (tap)="getKinPosts()">
                    Kin
                </ion-segment-button>
            </ion-segment>
        </div>


        <div style="display: flex;">

            <ion-slides class="cat-slides">

                <ion-slide class="cat-slide" (tap)="viewSingleCategory(category)" *ngFor="let category of categories;">
                    <img class="cat-image" [src]="category.image" width="50">
                    <p class="cat-text">{{ category.name }}</p>
                </ion-slide>
            </ion-slides>

        </div>





        <div  [ngSwitch]="kommunity" >

            <div align="center">
                <ion-spinner *ngIf="loading"></ion-spinner>
            </div>

            <div *ngIf="loading && kommunityPosts && kommunityPosts.length <= 0">
                <p align="center">Loading posts...</p>
            </div>


            <div class="animated slideInUp" *ngSwitchCase="'kommunity'" >

                <div class="nothing" *ngIf="!loading && kommunityPosts.length <= 0">
                    <p align="center">Nothing here yet. Come back soon.</p>
                </div>

                <ion-grid>
                    <ion-row>
                        <ion-col col-4 style="float: left;" *ngFor="let post of kommunityPosts">

                            <!--<ion-item>-->
                                <!--<ion-avatar item-start (tap)="viewProfile(post.user)">-->
                                    <!--<img [src]="post.user.image">-->
                                <!--</ion-avatar>-->
                                <!--<h2 class="username">{{post.user.username}}</h2>-->
                                <!--<p class="time">{{post.created_at}}</p>-->
                            <!--</ion-item>-->
                            <div (tap)="goToTimeline()" *ngIf="post.images.length > 0" align="center">
                                <img align-self-center [src]="post.images[0].url">
                                <hr>
                            </div>

                            <!--<ion-slides >-->
                                <!--<ion-slide *ngFor="let image of post.images">-->
                                    <!--<img [src]="image.url"/>-->
                                <!--</ion-slide>-->
                            <!--</ion-slides>-->

                        </ion-col>

                    </ion-row>

                </ion-grid>


            </div>


            <ion-list *ngSwitchCase="'kin'">

                <div class="nothing" *ngIf="!loading && kinPosts.length <= 0">
                    <p align="center">Nothing here yet. Try following some people.</p>
                </div>


                <ion-card class="postCard animated slideInUp" *ngFor="let post of kinPosts">

                    <ion-item>
                        <ion-avatar item-start (tap)="viewProfile(post.user)">
                            <img [src]="post.user.image">
                        </ion-avatar>
                        <h2 class="username">{{post.user.username}}</h2>
                        <p class="time">{{post.created_at}}</p>
                    </ion-item>
                    <div *ngIf="post.images.length > 0" align="center">
                        <img align-self-center [src]="post.images[0].url">
                        <hr>
                    </div>

                    <!--<ion-slides >-->
                        <!--<ion-slide *ngFor="let image of post.images">-->
                            <!--<img [src]="image.url"/>-->
                        <!--</ion-slide>-->
                    <!--</ion-slides>-->
                    <ion-card-content>
                        <ion-icon name="heart-outline"></ion-icon>
                        <span>5000 Likes</span>
                        <span class="category">{{post.category.name}}</span>
                        <p>
                            {{post.content}}
                        </p>
                    </ion-card-content>

                    <!--<ion-row>-->
                        <!--<ion-col>-->
                            <!--<button ion-button icon-left clear small>-->
                                <!--<ion-icon name="thumbs-up"></ion-icon>-->
                                <!--<div>12 Likes</div>-->
                            <!--</button>-->
                        <!--</ion-col>-->
                        <!--<ion-col>-->
                            <!--<button ion-button icon-left clear small>-->
                                <!--<ion-icon name="text"></ion-icon>-->
                                <!--<div>4 Comments</div>-->
                            <!--</button>-->
                        <!--</ion-col>-->
                        <!--<ion-col center text-center>-->
                            <!--<ion-note>-->
                                <!--11h ago-->
                            <!--</ion-note>-->
                        <!--</ion-col>-->
                    <!--</ion-row>-->

                </ion-card>


                <!--<ion-card *ngFor="let post of kommunityPosts">-->

                    <!--<ion-slides >-->
                        <!--<ion-slide *ngFor="let image of post.images">-->
                            <!--<img [src]="image.url"/>-->
                        <!--</ion-slide>-->
                    <!--</ion-slides>-->

                    <!--<ion-card-content>-->

                        <!--<div col-4>-->
                            <!--<img style="height: 50px;" src="{{post.user.image}}">-->
                        <!--</div>-->

                        <!--<div col-8>-->
                            <!--<p>{{post.content}}</p>-->
                        <!--</div>-->
                    <!--</ion-card-content>-->
                <!--</ion-card>-->
            </ion-list>
        </div>


    </div>
</ion-content>
