page-home {

  .nothing{
    margin-top:150px;
  }
  .cat-slide{

    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 70px;
    max-height: 50px;
  }

  .refresher{
    margin-top: 20px !important;
  }

  .category{
    float:right;
  }

  .cat-image{
    border-radius: 30px;
  }

  .komkin{
    background-image: url("../assets/imgs/rectangle.png");
    margin-top: -42px;
    background-position: left;
  }


  .cat-slides{
   height: 120px;
  }

  .cat-text{
    font-size: 12px;
  }

  .username{
    font-size:12px;
    color:#585858;
    letter-spacing:0;
    text-align:left;
  }

  .time{
    font-size:10px;
    color:#585858;
    letter-spacing:0;
    text-align:left;
  }

  ion-card img {
    max-height: 300px !important;
    width: auto;
  }

  .postCard ion-icon{
    color: red;
  }
  .card {
    box-shadow: none;
  }

  .homeContent{
    margin-top: 120px;
  }
}
