
<ion-content class="background image-background ">

    <div padding class="contentContainer"> <!-- to be used as a wrapper later -->
        <div align="center" class="logoContainer">
            <img class="logo" src="assets/imgs/logo.png">
        </div>


        <ion-list class="inputList" padding *ngIf="isSignUp">

            <ion-item >
                <ion-label>
                    <img src="assets/imgs/email.png">
                </ion-label>
                <ion-input [(ngModel)]="username"  placeholder="Username" type="text"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label>
                    <img src="assets/imgs/email.png">
                </ion-label>

                <ion-input [(ngModel)]="name"  placeholder="Fullname" type="text"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label>
                    <img src="assets/imgs/email.png">
                </ion-label>
                <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label>
                    <img src="assets/imgs/email.png">
                </ion-label>

                <ion-input [(ngModel)]="phone" placeholder="Phone" type="text"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label>
                    <img src="assets/imgs/key.png">
                </ion-label>

                <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label>
                    <img src="assets/imgs/key.png">
                </ion-label>

                <ion-input [(ngModel)]="confirmPassword" placeholder="Confirm password again" type="password"></ion-input>
            </ion-item>

            <span style="color:red; margin-left: 20px;font-size: 12px">{{passwordError}}</span>

            <ion-row>
                <ion-col col-12>
                    <div align="center" *ngIf="loading">
                        <ion-spinner ></ion-spinner>
                    </div>
                    <button class="kbutton" ion-button block *ngIf="loading" (click)="signUp()" disabled >Signing Up</button>
                    <button class="kbutton" ion-button block *ngIf="!loading" (click)="signUp()" >Sign Up</button>
                </ion-col>
            </ion-row>

            <ion-col col-12>
                <div align="center"><ion-note class="white">Already have an account?</ion-note></div>
                <div align="center" ><a class="white" (tap)="switch()">Sign In</a></div>
            </ion-col>

        </ion-list>


        <ion-list class="inputList" padding *ngIf="!isSignUp">

            <ion-item >
                <ion-label>
                    <img src="assets/imgs/email.png">
                </ion-label>
                <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label>
                    <img src="assets/imgs/key.png">
                </ion-label>
                <ion-input [(ngModel)]="password" placeholder="Enter your password" type="password"></ion-input>
            </ion-item>

            <ion-row>
                <ion-col col-12>
                    <div align="center" *ngIf="loading">
                        <ion-spinner ></ion-spinner>
                    </div>
                    <button class="kbutton" ion-button block *ngIf="loading" disabled >Signing In</button>
                    <button class="kbutton" ion-button block *ngIf="!loading" (click)="signIn()" >Sign In</button>
                </ion-col>
            </ion-row>

            <ion-col col-12>
                <div align="center"><ion-note class="white">Don't have an account?</ion-note></div>
                <div align="center"><a class="white" (tap)="switch()">Sign Up</a></div>
            </ion-col>

        </ion-list>
    </div>


</ion-content>
