page-sign-up {


  .background{
    height: 100vh;
    background-image:radial-gradient(0% 100%, #db287a 0%, #580169 100%) !important;
  }

  ion-input input[placeholder]{
    text-align: center;
    color:white;
  }

  input{
    color:white;
  }

  .contentContainer{
    margin-top: 20vh;
  }

  .inputList{
    margin-top: 154px;
  }

  .logo{
    width:79px;

  }

  .white{
    color:white !important;
  }

  .kbutton{
    font-size:18px;
    color:#580169;
    letter-spacing:0;
    text-align:center;
    background:#ffc463;
    border-radius:6px;

  }

  ion-item ion-label img{
    height:16px;
  }

  .image-background{

    background-size: cover;
    background: url("../assets/imgs/backimage.png") no-repeat center !important;
    height: 100%;

  }
  ion-item{
    background-color: transparent !important;
  }

  .list-ios > .item-block:first-child{
    border-top: none;
  }
}
