<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>categories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div align="center">
        <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <ion-list>
        <ion-item *ngFor="let category of categories;" >
            <ion-avatar item-start>
                <img [src]="category.image">
            </ion-avatar>
            <span>
                {{ category.name }}
            </span>

        </ion-item>
    </ion-list>


</ion-content>
