<ion-header class="topNav">
    <ion-navbar >

        <div align="center">
            <ion-title><img class="mainlogo" src="assets/imgs/logo.png"> </ion-title>
        </div>

        <ion-buttons end>
            <button  ion-button icon-only (tap)="upload()">
                <ion-icon *ngIf="!loading" name="send"></ion-icon>
                <ion-spinner *ngIf="loading"></ion-spinner>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

    <ion-content padding>


    <div ion-row>
        <ion-textarea col-8 placeholder="Enter caption" [(ngModel)]="content"></ion-textarea>
        <img col-4 *ngIf="images.length > 0" [src]="images[images.length - 1]" style="float: left; max-height: 200px; width:auto;">
    </div>


    <ion-list>
        <ion-item>
            <ion-label>Category</ion-label>
            <ion-select [(ngModel)]="catid">
                <ion-option [value]="category.catid" *ngFor="let category of categories">{{category.name}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>


        <div ion-row>
            <div col-5 *ngIf="isKin == 1" class="square dim" (tap)="setKommunityPost()">
                <p>
                    KOMMUNITY
                </p>
            </div>

            <div col-5 *ngIf="isKin == 0" class="square" (tap)="setKommunityPost()">
                <p>
                    KOMMUNITY
                </p>
            </div>

            <div col-5 offset-2 *ngIf="isKin == 0" class="square dim" (tap)="setKinPost()">
                <p>
                    KIN
                </p>
            </div>

            <div col-5 offset-2 *ngIf="isKin == 1" class="square" (tap)="setKinPost()">
                <p>
                    KIN
                </p>
            </div>

        </div>


    <button class="camera" ion-button block color="primary" (tap)="photoAction()">
        <ion-icon name="camera"></ion-icon>
    </button>

    <div align="center">
        <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <!--<button *ngIf="!loading" ion-button block color="success" (tap)="upload()">Post</button>-->
    <!--<button *ngIf="loading" ion-button block color="success" disabled>Posting</button>-->

</ion-content>
