page-post {

  button.camera {
    background-image: url("../assets/imgs/rectangle.png");
    background-position: center;
    background-size: cover;

  }


  .square{
    background-image: url("../assets/imgs/rectangle.png");
    background-position: center;
    background-size: cover;
  }

  //.square p.span{
  //  width: 100%;
  //  height: 15px;
  //  background-color: white;
  //  margin-bottom: -5px;
  //}

  .dim{
    opacity: 0.5;
  }

  .square p {
    color:white;
    font-size: 20px;
    text-align: center;
  }
}
