// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background{
  background-color: transparent;
}

.toolbar-title, .bar-button{
  color:white;
}
.topNav{
  background-image: url("../assets/imgs/rectangle.png");
  color: white !important;
  padding:14px 14px 0px 14px;
}

ion-segment-button{
  color:white !important;
  opacity: 1;
}
.mainlogo{
  height:30px;
}

super-tab-button{
  color:white;
  height: 100% !important;
}

super-tab-button span.title{
  font-size: 10px !important;
  padding-bottom: 8px;
  color:black;
}

super-tab-button ion-icon.icon{
  margin-bottom: 5px;
  color:black;
}

.profileIcon{
  height:32px !important;
  border-radius: 5px;
}

.topSpace{
  margin-top: 32px;
}

super-tabs{
  background-color: #ededed !important;
  margin-top:-20px;
}

.indicator.button-md-primary{
  background-color: transparent;
}

super-tab-button.selected ion-icon.icon{
  color: purple !important;
}

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
  border:none;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background:none !important;
}



ion-fab[bottom]{
  bottom: 50px !important;
}

.addButton ion-icon{
  font-size: 6.4rem;
}
.addButton button{
  background-image: url("../assets/imgs/oval.png");
  background-position: center;
  background-size: contain;
  //background-image:radial-gradient(0% 100%, #db287a 0%, #580169 100%);
}

.addButton{
  bottom: 30px !important;
  width:55px;
  height:55px;
  border-radius:100%;
}
