<ion-header class="topNav">
    <ion-navbar >

        <!--<ion-buttons left>-->
        <!--<button ion-button icon-only (tap)="goToNotifications()">-->
        <!--<ion-icon name="notifications"></ion-icon>-->
        <!--</button>-->
        <!--</ion-buttons>-->

        <div align="center">
            <ion-title><img class="mainlogo" src="../../assets/imgs/logo.png"> </ion-title>
        </div>

        <!--<ion-buttons end>-->
        <!--<button *ngIf="userProvider.user" ion-button icon-only  (tap)="goToProfile()">-->
        <!--<img *ngIf="!userProvider.user.image" src="../../assets/imgs/profile.png" class="profileIcon">-->
        <!--<img *ngIf="userProvider.user.image" [src]="userProvider.user.image" class="profileIcon">-->
        <!--</button>-->
        <!--</ion-buttons>-->


    </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
