<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div class="topSpace">

        <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
        <p>Posts with #{{searchQuery}}</p>

        <div align="center">
            <ion-spinner *ngIf="loading"></ion-spinner>
        </div>

        <ion-list>
            <ion-item *ngFor="let item of items">
                {{ item.content }}
            </ion-item>
        </ion-list>

        <!--<h3>{{items.name}}</h3>-->
        <!--<ion-grid>-->
        <!--<ion-row>-->
        <!--<ion-col col-4 class="columnImage" style="float: left;" *ngFor="let image of items.images">-->
        <!--<ion-card>-->
        <!--<img style="height: 100px; width: auto" align-self-center [src]="image.url"/>-->
        <!--</ion-card>-->
        <!--</ion-col>-->
        <!--</ion-row>-->
        <!--</ion-grid>-->

    </div>


</ion-content>
