apploader {
    .splash-load{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        top: 0;
        left: 0;
    }
    
    .spinner-load{
        position: relative;
        width: 80px;
        height: 80px;
    }

    .center-text{
        text-align: center;
    }

    .load-text{
        font-size: 12px;
    }

    .no-margin{
        margin: 0 !important;
    }
}
