<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div align="center">
        <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <ion-list class="topSpace">
        <ion-item *ngFor="let event of events;" (tap)="eventDetails(event)">
            <ion-avatar item-start>
                <img [src]="event.images[0].url">
            </ion-avatar>
            <span>
                {{ event.name }}
            </span>

        </ion-item>
    </ion-list>


</ion-content>
